.class_default {
  stroke: #000;
  stroke-width: 1;
  fill: none;
}

.class_white {
  stroke: #fff;
  fill: #fff;
  stroke-width: 1;
}

.class_0118 {
  stroke: #f00;
  fill: none;
  stroke-width: 1;
}

.class_0118_polygon {
  stroke: #f00;
  fill: #f00;
  stroke-width: 1;
}

.class_0083 {
  stroke: #0ff;
  fill: none;
  stroke-width: 1;
}

.class_0083_polygon {
  stroke: #0ff;
  fill: #0ff;
  stroke-width: 1;
}


.class_0788 {
  stroke: #f0f;
  fill: none;
  stroke-width: 1;
}

.class_0788_polygon {
  stroke: #f0f;
  fill: #f0f;
  stroke-width: 1;
}


.class_0241 {
  stroke: #0f0;
  fill: none;
  stroke-width: 1;
}

.class_0241_polygon {
  stroke: #0f0;
  fill: #0f0;
  stroke-width: 1;
}

.class_0783 {
  stroke: #ff0;
  fill: none;
  stroke-width: 1;
}

.class_0783_polygon {
  stroke: #ff0;
  fill: #ff0;
  stroke-width: 1;
}

.class_0712 {
  stroke: #00f;
  fill: none;
  stroke-width: 1;
}

.class_0712_polygon {
  stroke: #00f;
  fill: #00f;
  stroke-width: 1;
}
